/*解決Bootstrap打架問題*/
table.google-visualization-orgchart-table {
    border-collapse: separate !important;
    border: inherit !important;
    -webkit-box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    background-color: inherit !important;
    background: inherit !important;
}



