#div_select_language{
   
   position: relative;
   left: 10px;
   top: -5px;
}

#div_select_language span{
	color: white;
	font-weight: bold;
}

#id_select_language{
	width: 115px;
/*	position: relative;
	top:-5px;*/
}