  .nori_overflow::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(0,0,0,0); /*#F5F5F5;*/
  }   /*-webkit-scrollbar-thumb*/

  .nori_overflow::-webkit-scrollbar-thumb
  {
      border-radius:8px;
      -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
      background-color:#eee;
  }

  .nori_overflow{
    overflow:auto;
  }



  @media only screen and (max-width: 767px) {
    .nori_overflow::-webkit-scrollbar{
        display: none;
    }   /*-webkit-scrollbar-thumb*/
  }
