.nori_blueText{
     color: #009FCC;
}

.nori_menu_icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.nori_footer {
    height: 5%;
    line-height: 40px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    color:white;
    background: #242527;
    z-index: 10;
}

.web_map{
    display:inline-block; color: black;
}

.site_map_hr{
    border-top: 1px solid #706760;
}