.admin_footer {
    height: 5%;
    line-height: 40px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    color:white;
    background: #bbb;
    z-index: 10;
}